.AdminInterface {
    background-image: url('../images/1.jpeg');
    background-size: 100% auto;  /* This will make the image cover the entire width while maintaining its aspect ratio */
    background-repeat: no-repeat;
    background-position: center center;
    /* Optionally, you can set a background color as a fallback */
    background-color: rgb(106, 174, 233);
}
